{
  "openapi": "3.1.0",
  "info": {
    "title": "Flowboard API",
    "description": "Stable API contract for the 4 services: auth, flow, billing, track.",
    "version": "1.1.1"
  },
  "servers": [
    {
      "url": "https://api.flow-board.co",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "flowboard_jwt": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://auth-638704832888.europe-west1.run.app/.well-known/jwks.json",
            "scopes": {}
          }
        }
      },
      "admin_auth": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://securetoken.google.com/app-flowboard",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "EmailGateCreateRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "EmailGateCreateResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "gateToken": {
            "type": "string"
          }
        }
      },
      "EmailGateConsumeRequest": {
        "type": "object",
        "required": [
          "gateToken"
        ],
        "properties": {
          "gateToken": {
            "type": "string"
          }
        }
      },
      "EmailGateConsumeResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "next": {
            "type": "string",
            "enum": [
              "LOGIN",
              "SIGNUP"
            ]
          },
          "redirectUrl": {
            "type": "string"
          }
        }
      },
      "AccessResponse": {
        "type": "object",
        "properties": {
          "accessStatus": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PENDING",
              "REJECTED",
              "WAITLIST"
            ]
          },
          "inviteOnlyConfig": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "appId": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "accessStatus": {
            "type": "string"
          },
          "inviteOnlyConfig": {
            "type": "object",
            "additionalProperties": true
          },
          "access": {
            "$ref": "#/components/schemas/AccessResponse"
          }
        }
      },
      "AiFlowGenerationRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 20
          },
          "generationId": {
            "type": "string"
          },
          "flowId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "targetAudience": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "goals": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "brand": {
            "type": "object",
            "additionalProperties": true
          },
          "visualStyle": {
            "type": "string"
          },
          "includePermissions": {
            "type": "boolean"
          },
          "includeRateAppStep": {
            "type": "boolean"
          },
          "stepCount": {
            "type": "integer"
          },
          "presetKey": {
            "type": "string"
          },
          "publishMode": {
            "type": "string",
            "enum": [
              "draft",
              "published"
            ]
          },
          "publishForResolver": {
            "type": "boolean"
          },
          "forceRegenerate": {
            "type": "boolean"
          },
          "inspiration": {
            "type": "object",
            "additionalProperties": true
          },
          "promptOverrides": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AiFlowGenerationResponse": {
        "type": "object",
        "properties": {
          "generationId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "COMPLETED"
            ]
          },
          "reused": {
            "type": "boolean"
          },
          "flowId": {
            "type": "string"
          },
          "draftId": {
            "type": "string"
          },
          "flowName": {
            "type": "string"
          },
          "publishStatus": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "jsonUrl": {
            "type": "string"
          },
          "storagePath": {
            "type": "string"
          },
          "summary": {
            "type": "object",
            "additionalProperties": true
          },
          "screenPlan": {
            "type": "object",
            "additionalProperties": true
          },
          "audienceLinking": {
            "type": "object",
            "additionalProperties": true
          },
          "onboarding": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "BillingCheckoutRequest": {
        "type": "object",
        "properties": {
          "planId": {
            "type": "string",
            "enum": [
              "FREE",
              "PRO",
              "TEAM",
              "ENTERPRISE"
            ]
          }
        }
      },
      "BillingSessionResponse": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "planId": {
            "type": "string"
          },
          "stripeCustomerId": {
            "type": "string"
          }
        }
      },
      "BillingPlan": {
        "type": "object",
        "properties": {
          "planId": {
            "type": "string"
          },
          "stripePriceId": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "unitAmount": {
            "type": "integer"
          }
        }
      },
      "BillingPlansResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingPlan"
            }
          }
        }
      },
      "BillingSubscriptionResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "planId": {
            "type": "string"
          },
          "stripeCustomerId": {
            "type": "string"
          },
          "stripeSubscriptionId": {
            "type": "string"
          },
          "currentPeriodEnd": {
            "type": "integer"
          },
          "lastInvoiceStatus: ": {
            "type": "string"
          },
          "updatedAt": {
            "type": "integer"
          }
        }
      },
      "BillingEntitlementsResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "planId": {
            "type": "string"
          },
          "entitlements": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    }
  },
  "paths": {
    "/.well-known/jwks.json": {
      "get": {
        "summary": "Get JWKS",
        "operationId": "getJwks",
        "responses": {
          "200": {
            "description": "JWKS document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/generate-token": {
      "post": {
        "summary": "Generate admin token (v0)",
        "operationId": "postV0AdminGenerateToken",
        "security": [
          {
            "admin_auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/email-gates": {
      "post": {
        "summary": "Create email gate session (v0)",
        "operationId": "postV0AuthEmailGates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailGateCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email gate token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailGateCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "summary": "Signup account (v0)",
        "operationId": "postV0AuthSignup",
        "responses": {
          "200": {
            "description": "Signup success payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Login (v0)",
        "operationId": "postV0AuthLogin",
        "responses": {
          "200": {
            "description": "Login payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/mfa/setup": {
      "post": {
        "summary": "Setup or challenge MFA (v0)",
        "operationId": "postV0AuthMfaSetup",
        "responses": {
          "200": {
            "description": "MFA setup payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/mfa/verify": {
      "post": {
        "summary": "Verify MFA code (v0)",
        "operationId": "postV0AuthMfaVerify",
        "responses": {
          "200": {
            "description": "Session payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/session/me": {
      "get": {
        "summary": "Get current auth session (v0)",
        "operationId": "getV0AuthSessionMe",
        "responses": {
          "200": {
            "description": "Session summary payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/email-gates/consumptions": {
      "post": {
        "summary": "Consume email gate session (v0)",
        "operationId": "postV0AuthEmailGateConsumptions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailGateConsumeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gate consumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailGateConsumeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "summary": "Get current user (v0)",
        "operationId": "getV0Me",
        "security": [
          {
            "flowboard_jwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/access": {
      "get": {
        "summary": "Get access status (v0)",
        "operationId": "getV0Access",
        "security": [
          {
            "flowboard_jwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "Access payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/flows": {
      "get": {
        "summary": "Resolve flow for runtime delivery (v0)",
        "operationId": "getV0Resolve",
        "security": [
          {
            "flowboard_jwt": []
          }
        ],
        "parameters": [
          {
            "name": "installId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en_US"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "os",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appVersion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resolved flow payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "No matching flow found"
          }
        }
      }
    },
    "/flows/{flowId}": {
      "get": {
        "summary": "Get a single flow by id",
        "operationId": "getV1FlowById",
        "security": [
          {
            "flowboard_jwt": []
          }
        ],
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "live",
                "draft"
              ],
              "default": "live"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flow payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "flowId": {
                      "type": "string"
                    },
                    "screens": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/flows/generate": {
      "post": {
        "summary": "Generate onboarding flow with AI (v0)",
        "operationId": "postV0FlowGeneration",
        "security": [
          {
            "flowboard_jwt": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiFlowGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiFlowGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/track": {
      "post": {
        "summary": "Track analytics event (v0)",
        "operationId": "postV0TrackEvent",
        "security": [
          {
            "flowboard_jwt": []
          }
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event captured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/billing/plans": {
      "get": {
        "summary": "List billing plans (v0)",
        "operationId": "getV0BillingPlans",
        "security": [
          {
            "flowboard_jwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "Plans list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingPlansResponse"
                }
              }
            }
          }
        }
      }
    },
    "/billing/subscription": {
      "get": {
        "summary": "Get current subscription (v0)",
        "operationId": "getV0BillingSubscription",
        "security": [
          {
            "flowboard_jwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSubscriptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/billing/checkout-session": {
      "post": {
        "summary": "Create Stripe checkout session (v0)",
        "operationId": "postV0BillingCheckoutSession",
        "security": [
          {
            "flowboard_jwt": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingCheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/billing/portal-session": {
      "post": {
        "summary": "Create Stripe portal session (v0)",
        "operationId": "postV0BillingPortalSession",
        "security": [
          {
            "flowboard_jwt": []
          }
        ],
        "responses": {
          "201": {
            "description": "Portal session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/billing/entitlements": {
      "get": {
        "summary": "Get entitlements (v0)",
        "operationId": "getV0BillingEntitlements",
        "security": [
          {
            "flowboard_jwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "Entitlements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingEntitlementsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/billing/stripe/webhook": {
      "post": {
        "summary": "Stripe webhook receiver (v0)",
        "operationId": "postV0StripeWebhook",
        "parameters": [
          {
            "name": "Stripe-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}